.barra {
	background-color: #275B5B;
	width: 100%;
	height: 100px;
	text-decoration: none;

}

.barra a {
	text-decoration: none;
}

.barra a:visited {
	color: black;
}
#titulo {
	display: inline-block;
	font-family: 'Estonia', cursive; 
	font-size: 70px;
	font-weight: 500px;
	padding-left: 20px;
	margin-left: 20px;
}


.barra li {
	display: inline-block;
	margin-left: 30px;
	text-decoration: none;


}

.todo  {
	background-color: #287171;
	height: 50vh;
	padding: 25px;

}